<a href="https://colab.research.google.com/github/taniahdez75/st/blob/main/DimensionalityReduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
filename = 'https://raw.githubusercontent.com/fenago/datasets/main/ad.csv'
adData = pd.read_csv('https://raw.githubusercontent.com/fenago/datasets/main/ad.csv',sep=',',header=None,error_bad_lines=False)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
adData.head()

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [ ]:
adData.shape

(3279, 1559)

In [ ]:
adData.describe()

,4,5,6,7,8,9,10,11,12,13,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
count,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,...,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000,3279.000000
mean,0.004270,0.011589,0.004575,0.003355,0.003965,0.011589,0.003355,0.004880,0.009149,0.004575,...,0.006099,0.004575,0.003660,0.002440,0.003050,0.006404,0.012809,0.013419,0.009759,0.001525
std,0.065212,0.107042,0.067491,0.057831,0.062850,0.107042,0.057831,0.069694,0.095227,0.067491,...,0.077872,0.067491,0.060393,0.049341,0.055148,0.079783,0.112466,0.115077,0.098320,0.039026
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
X = adData.loc[:,0:1557]
print(X.shape)

(3279, 1558)

In [ ]:
X=adData.iloc[:,:-1]
print(X.shape)
Y = adData[1558]
print(Y.shape)

(3279, 1558)
(3279,)

In [ ]:
Y.sample()

2476    nonad.
Name: 1558, dtype: object

In [ ]:
X.head(20)

,0,1,2,3,4,5,6,7,8,9,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,59,460,7.7966,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,60,234,3.9,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,90,52,0.5777,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,90,60,0.6666,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,90,60,0.6666,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
16,60,468,7.8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
17,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
19,30,585,19.5,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X.dtypes

0       object
1       object
2       object
3       object
4        int64
         ...
1553     int64
1554     int64
1555     int64
1556     int64
1557     int64
Length: 1558, dtype: object

In [ ]:
# fix the ? and the datatype problem in the first 3 columns only
for i in range(0,4):
  X[i] = X[i].str.replace('?','nan').values.astype(float)
print(X.head(15))

     0      1       2     3     4     5     6     7     8     9     ...  1548  \
0   125.0  125.0  1.0000   1.0     0     0     0     0     0     0  ...     0
1    57.0  468.0  8.2105   1.0     0     0     0     0     0     0  ...     0
2    33.0  230.0  6.9696   1.0     0     0     0     0     0     0  ...     0
3    60.0  468.0  7.8000   1.0     0     0     0     0     0     0  ...     0
4    60.0  468.0  7.8000   1.0     0     0     0     0     0     0  ...     0
5    60.0  468.0  7.8000   1.0     0     0     0     0     0     0  ...     0
6    59.0  460.0  7.7966   1.0     0     0     0     0     0     0  ...     0
7    60.0  234.0  3.9000   1.0     0     0     0     0     0     0  ...     0
8    60.0  468.0  7.8000   1.0     0     0     0     0     0     0  ...     0
9    60.0  468.0  7.8000   1.0     0     0     0     0     0     0  ...     0
10    NaN    NaN     NaN   1.0     0     0     0     0     0     0  ...     0
11   90.0   52.0  0.5777   1.0     0     0     0     0     0     0  ...     0
12   90.0   60.0  0.6666   1.0     0     0     0     0     0     0  ...     0
13   90.0   60.0  0.6666   1.0     0     0     0     0     0     0  ...     0
14   33.0  230.0  6.9696   1.0     0     0     0     0     0     0  ...     0

    1549  1550  1551  1552  1553  1554  1555  1556  1557
0      0     0     0     0     0     0     0     0     0
1      0     0     0     0     0     0     0     0     0
2      0     0     0     0     0     0     0     0     0
3      0     0     0     0     0     0     0     0     0
4      0     0     0     0     0     0     0     0     0
5      0     0     0     0     0     0     0     0     0
6      0     0     0     0     0     0     0     0     0
7      0     0     0     0     0     0     0     0     0
8      0     0     0     0     0     0     0     0     0
9      0     0     0     0     0     0     0     0     0
10     0     0     0     0     0     0     0     0     0
11     0     0     0     0     0     0     0     0     0
12     0     0     0     0     0     0     0     0     0
13     0     0     0     0     0     0     0     0     0
14     0     0     0     0     0     0     0     0     0

[15 rows x 1558 columns]

<ipython-input-10-adf841c8c146>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  X[i] = X[i].str.replace('?','nan').values.astype(float)

In [ ]:
X.dtypes

0       float64
1       float64
2       float64
3       float64
4         int64
         ...
1553      int64
1554      int64
1555      int64
1556      int64
1557      int64
Length: 1558, dtype: object

In [ ]:
# X[3] = X[3].astype(int)
# X[3].unique()

In [ ]:
# impute the mean of the cols that have NaN
import numpy as np
# Impute the 'NaN'  with mean of the values
for i in range(0,1557):
  X[i] = X[i].fillna(X[i].mean())
print(X.head(15))

          0           1         2     3     4     5     6     7     8     \
0   125.000000  125.000000  1.000000   1.0     0     0     0     0     0
1    57.000000  468.000000  8.210500   1.0     0     0     0     0     0
2    33.000000  230.000000  6.969600   1.0     0     0     0     0     0
3    60.000000  468.000000  7.800000   1.0     0     0     0     0     0
4    60.000000  468.000000  7.800000   1.0     0     0     0     0     0
5    60.000000  468.000000  7.800000   1.0     0     0     0     0     0
6    59.000000  460.000000  7.796600   1.0     0     0     0     0     0
7    60.000000  234.000000  3.900000   1.0     0     0     0     0     0
8    60.000000  468.000000  7.800000   1.0     0     0     0     0     0
9    60.000000  468.000000  7.800000   1.0     0     0     0     0     0
10   64.021886  155.344828  3.911953   1.0     0     0     0     0     0
11   90.000000   52.000000  0.577700   1.0     0     0     0     0     0
12   90.000000   60.000000  0.666600   1.0     0     0     0     0     0
13   90.000000   60.000000  0.666600   1.0     0     0     0     0     0
14   33.000000  230.000000  6.969600   1.0     0     0     0     0     0

    9     ...  1548  1549  1550  1551  1552  1553  1554  1555  1556  1557
0      0  ...     0     0     0     0     0     0     0     0     0     0
1      0  ...     0     0     0     0     0     0     0     0     0     0
2      0  ...     0     0     0     0     0     0     0     0     0     0
3      0  ...     0     0     0     0     0     0     0     0     0     0
4      0  ...     0     0     0     0     0     0     0     0     0     0
5      0  ...     0     0     0     0     0     0     0     0     0     0
6      0  ...     0     0     0     0     0     0     0     0     0     0
7      0  ...     0     0     0     0     0     0     0     0     0     0
8      0  ...     0     0     0     0     0     0     0     0     0     0
9      0  ...     0     0     0     0     0     0     0     0     0     0
10     0  ...     0     0     0     0     0     0     0     0     0     0
11     0  ...     0     0     0     0     0     0     0     0     0     0
12     0  ...     0     0     0     0     0     0     0     0     0     0
13     0  ...     0     0     0     0     0     0     0     0     0     0
14     0  ...     0     0     0     0     0     0     0     0     0     0

[15 rows x 1558 columns]

In [ ]:
# Scale the data
from sklearn import preprocessing
minmaxScaler = preprocessing.MinMaxScaler()
X_tran = pd.DataFrame(minmaxScaler.fit_transform(X))
X_tran.head()

,0,1,2,3,4,5,6,7,8,9,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
0,0.194053,0.194053,0.016642,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.087637,0.730829,0.136820,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.050078,0.358372,0.116138,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.092332,0.730829,0.129978,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.092332,0.730829,0.129978,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Sidebar
# Creating a simple data frame
df = pd.np.array([[1, 2, 3], [4, 5, 6]])
print(df.shape)
df

(2, 3)

<ipython-input-15-4cc9ed9e47b7>:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df = pd.np.array([[1, 2, 3], [4, 5, 6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
# Replicating the data frame and noting the time
import time
# Starting a timing function
t0=time.time()
Newdf = pd.DataFrame(pd.np.tile(df, (1, 5)))
print(Newdf.shape)
print(Newdf)
# Finding the end time
print("Total time:", round(time.time()-t0, 3), "s")

(2, 15)
   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0   1   2   3   1   2   3   1   2   3   1   2   3   1   2   3
1   4   5   6   4   5   6   4   5   6   4   5   6   4   5   6
Total time: 0.009 s

<ipython-input-16-cacbed886c08>:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  Newdf = pd.DataFrame(pd.np.tile(df, (1, 5)))

In [ ]:
# Creating a high dimension dataset
X_hd = pd.DataFrame(pd.np.tile(X, (1, 20)))

<ipython-input-17-6cc328075d3e>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  X_hd = pd.DataFrame(pd.np.tile(X, (1, 20)))

In [ ]:
# Printing the dimension of the data set
X_hd.shape

(3279, 31160)

In [ ]:
from sklearn.model_selection import train_test_split
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_hd, Y, test_size=0.3, random_state=123)

In [ ]:
# try to fit this data to logistic regression model to predict whether the image is an ad or no ad
from sklearn.linear_model import LogisticRegression
import time
# Defining the LogisticRegression function
benchmarkModel = LogisticRegression(max_iter=10000)
# Starting a timing function
t0=time.time()
# Fitting the model
benchmarkModel.fit(X_train, y_train)
# Finding the end time 

print("Total training time:", round(time.time()-t0, 3), "s")

Total training time: 433.624 s

In [ ]:
# Predicting using the model
pred = benchmarkModel.predict(X_test)
print('Accuracy of Logistic regression model prediction on test set: {:.2f}'.format(benchmarkModel.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set: 0.97

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
# Confusion Matrix for the model
print(confusion_matrix(y_test, pred))
# Classification report for the model
print(classification_report(y_test, pred))

[[109  17]
 [ 11 847]]
              precision    recall  f1-score   support

         ad.       0.91      0.87      0.89       126
      nonad.       0.98      0.99      0.98       858

    accuracy                           0.97       984
   macro avg       0.94      0.93      0.93       984
weighted avg       0.97      0.97      0.97       984

In [ ]:
# Create a HD dataset
X_hd = pd.DataFrame(pd.np.tile(X_tran,(1,2)))
X_hd.shape

<ipython-input-23-10ad4224fd42>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  X_hd = pd.DataFrame(pd.np.tile(X_tran,(1,2)))

(3279, 3116)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
# backModel = LogisticRegression()
# rfe = RFE(backModel,250)
rfe = RFE(estimator=LogisticRegression(), n_features_to_select=250)

In [ ]:
# Fitting the rfe for selecting the top 250 features
import time
t0 = time.time()
rfe = rfe.fit(X_hd, Y)
t1 = time.time()
print("Backward Elimination time:", round(t1-t0, 3), "s")

Backward Elimination time: 1502.887 s

In [ ]:
# Getting the indexes of the features used
rfe.get_support(indices = True)

array([   1,    3,   64,   91,   95,  104,  120,  139,  145,  167,  175,
        183,  187,  243,  246,  251,  264,  265,  269,  307,  317,  336,
        346,  351,  357,  370,  372,  381,  386,  398,  417,  418,  420,
        426,  450,  455,  456,  457,  478,  499,  506,  508,  525,  534,
        545,  549,  556,  562,  570,  638,  658,  663,  679,  686,  723,
        766,  803,  818,  819,  849,  860,  888,  903,  905,  914,  935,
        950,  968,  982,  983,  998, 1009, 1018, 1021, 1022, 1035, 1043,
       1058, 1060, 1081, 1086, 1087, 1109, 1114, 1116, 1167, 1179, 1180,
       1228, 1229, 1243, 1247, 1262, 1264, 1271, 1286, 1314, 1326, 1341,
       1351, 1362, 1364, 1367, 1371, 1380, 1388, 1399, 1405, 1413, 1416,
       1423, 1434, 1437, 1445, 1455, 1458, 1462, 1465, 1483, 1484, 1507,
       1510, 1531, 1532, 1533, 1555, 1558, 1559, 1567, 1622, 1633, 1653,
       1662, 1664, 1678, 1697, 1725, 1733, 1738, 1741, 1804, 1809, 1823,
       1827, 1836, 1865, 1875, 1904, 1909, 1915, 1917, 1928, 1930, 1939,
       1944, 1956, 1975, 1976, 1984, 1986, 2008, 2013, 2014, 2015, 2036,
       2057, 2064, 2066, 2069, 2090, 2098, 2103, 2107, 2108, 2120, 2206,
       2216, 2221, 2237, 2244, 2263, 2293, 2308, 2324, 2361, 2365, 2376,
       2377, 2407, 2418, 2446, 2461, 2472, 2493, 2506, 2508, 2526, 2541,
       2567, 2576, 2579, 2580, 2593, 2601, 2618, 2639, 2644, 2645, 2674,
       2725, 2737, 2738, 2786, 2787, 2801, 2820, 2829, 2836, 2872, 2884,
       2885, 2899, 2909, 2922, 2929, 2938, 2940, 2946, 2957, 2963, 2971,
       2974, 2981, 2999, 3003, 3013, 3016, 3020, 3023, 3041, 3042, 3051,
       3068, 3085, 3089, 3090, 3095, 3097, 3110, 3113])

In [ ]:
import pandas as pd
cerealDF = pd.read_csv('/content/cereal.csv')
cerealDF.info()

FileNotFoundError: ignored

In [ ]:
X=cerealDF.iloc[:,:-1]
print(X.shape)
Y = cerealDF['rating']
print(Y.shape)

In [ ]:
X = pd.get_dummies(X)

In [ ]:
X.head()

In [ ]:
# Splitting the data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=123)

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
rfe = RFE(estimator=LinearRegression(), n_features_to_select=5)

In [ ]:
# Fitting the rfe for selecting the top 5 features
import time
t0 = time.time()
rfe = rfe.fit(X, Y)
t1 = time.time()
print("Backward Elimination time:", round(t1-t0, 3), "s")

In [ ]:
# Getting the indexes of the features used
rfe.get_support(indices = True)

In [ ]:
n_features_to_select = [2,3,4,5,7]
for n in n_features_to_select:
    rfe = RFE(estimator=LinearRegression(), n_features_to_select=n)
    rfe.fit(X, Y)
    selected_features = X.columns[rfe.support_]
    print(f"Selected features for n_features_to_select={n}: {selected_features}")

In [ ]:
X.head()

In [ ]:
#Courtesy of Michael and Eladio
X=cerealDF.iloc[:,:-1]
print(X.shape)
Y = cerealDF['rating']
print(Y.shape)
cerealDF = pd.get_dummies(X)
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(cerealDF, Y, test_size=0.3, random_state=123)
from sklearn.linear_model import LinearRegression
rfe = RFE(estimator=LinearRegression(), n_features_to_select=5)
import time
t0 = time.time()
rfe = rfe.fit(cerealDF, Y)
t1 = time.time()
print("Backward Elimination time:", round(t1-t0, 3), "s")
# Getting the indexes of the features used
rfe.get_support(indices = True)
n_features_to_select = [2,3,4,5]

for n in n_features_to_select:
    rfe = RFE(estimator=LinearRegression(), n_features_to_select=n)
    rfe.fit(cerealDF, Y)
    selected_features = cerealDF.columns[rfe.support_]
    print(f"Selected features for n_features_to_select={n}: {selected_features}")

In [ ]:
# FFS
import pandas as pd
filename = 'https://raw.githubusercontent.com/fenago/datasets/main/ad.csv'
adData = pd.read_csv(filename,sep=",",header = None,\
                     error_bad_lines=False)
X = adData.loc[:,0:1557]
Y = adData[1558]
import numpy as np
for i in range(0,3):
    X[i] = X[i].str.replace("?", 'NaN').values.astype(float)
for i in range(3,1557):
    X[i] = X[i].replace("?", 'NaN').values.astype(float)
for i in range(0,1557):
    X[i] = X[i].fillna(X[i].mean())
from sklearn import preprocessing
minmaxScaler = preprocessing.MinMaxScaler()
X_tran = pd.DataFrame(minmaxScaler.fit_transform(X))